{{ partial "header.html" . }}

<article>
  <header class="entry-header">
    <span class="entry-date">{{ .Date.Format "2006/01/02" }}</span>
    <h1 class="entry-title">{{ .Title }}</h1>
  </header>

  <div class="entry-content">
    <p>{{ .Content }}</p>
  <table class="table table-bordered table-hover" style="background: white">
    <thead>
      <tr class="active">
	<th>Date</th>
	<th>Leader</th>
	<th>Win</th>
      </tr>
    </thead>
    <tbody id="tb"></tbody>
  </table>
  </div>
</article>

{{ partial "yamafu_footer.html" . }}
