{{ partial "content_header.html" }}

<style type="text/css">
  div.row { background-color: white; }
</style>

<div id="main_article">
{{ .Content }}
</div>

{{ with .Params.next }}
<p style="text-align: right"><a href="../{{ . }}">次へ</a></p>
{{ end }}

</div>
<div class="col-sm-10 col-md-1">

  <div class="novel" style="overflow: hidden">
    <h3 style="margin: 5px">{{ .Title }}</h3>
    {{ with .Params.subtitle }}
    <h4 style="margin: 5px">{{ . }}</h4>
    {{ end }}
  </div>
  <span class="align-right">
    {{ with .Params.next }}
    <a href="../{{ . }}"> Next </a>|
    {{ end }}
    <a href="../.."> List </a>
    {{ with .Params.prev }}
    |<a href="../{{ . }}"> Prev </a>
    {{ end }}
  </span>

{{ partial "content_footer.html" }}
